<div class="definitionref">
    <h1>Yhteentoimivuusalustan sanasto: <a href="http://uri.suomi.fi/terminology/{{ include.dict }}/terminological-vocabulary-0">{{ include.dictname }}</a></h1>
    <dl class="definition">
        <dt class="definition-concept">{{ include.name }}</dt>
        {% if include.def %}
        <dd class="definition-text">{{ include.def }}</dd>
        {% else %}
        <dd class="definition-text">Ei määritelmää</dd>
        {% endif %}
        {% if include.note %}  
        <dd class="definition-note">{{ include.note }}</dd>
        {% endif %}  
    </dl>
    <p><a href="http://uri.suomi.fi/terminology/{{ include.dict }}/{{ include.id }}" class="definition-uri">http://uri.suomi.fi/terminology/{{ include.dict }}/{{ include.id }}</a>&nbsp;<i class="fas fa-external-link-alt"></i></p>
</div>